.vscode/
tags
tags.lock
tags.temp
build/
arm32/build
c/debug/
c/release/
cpp/compile_commands.json
cpp/.cache/
cpp/debug/
cpp/release/
.ccls
.ccls-cache
.mypy_cache  
.venv
sync.sh

**/.DS_Store
data
embedded/esp-01/data
